.gradle
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
fastlane/.env
fastlane/README.md
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/key.json
keystore*.properties
*.jks
*.pem

